{% extends 'base.html' %}


{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
        <main class="col-md-9">
            
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged In as {{ user.first_name }}</strong>
                
            </header>
            {% if messages %}
            <div class="container">
            <div class="row">
                <div class="col-md-8">
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            </div>
            {% endif %}
            <form method="post" action="{% url 'change_password' %}">{% csrf_token %}
          
                <div class="container py-4">
                  <div class="row">
                  <div class="col-md-12 mb-3">
                    <label for="password" class="form-label fs-5">Current Password</label>
                    <input type="password" class="form-control form-control-lg" name="current_password" required>
                  </div>
                  <div class="col-md-12 mb-3">
                    <label for="new_password" class="form-label fs-5">Create New Password</label>
                    <input type="password" class="form-control form-control-lg"  name="new_password" required>
                  </div>
                  <div class="col-md-12 mb-3">
                    <label for="confirm_password" class="form-label fs-5">Confirm New Password</label>
                    <input type="password" class="form-control form-control-lg"  name="confirm_password" required>
                  </div>
                  </div>
                
                <!-- Add any other address fields here -->
                <button type="submit" class="btn btn-warning btn-lg" style="background-color: #F28123; color: white; border-radius: 35px;">Save Changes</button>
              </form>
            <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

    {% endblock %}

